

.boxtitlewhite { background-color: #fff; box-shadow: 0px 0px 1px 1px #888 inset; border-color: #444; }
.boxtitleblue { background-color: #fff; box-shadow: 0px 0px 1px 1px #888 inset; border-color: #444; }
.boxtitleblack { background-color: #fff; box-shadow: 0px 0px 1px 1px #888 inset; border-color: #444; }
.boxtitlered { background-color: #fff; box-shadow: 0px 0px 1px 1px #888 inset; border-color: #444; }
.boxtitlegreen { background-color: #fff; box-shadow: 0px 0px 1px 1px #888 inset; border-color: #444; }
.boxtitlegold { background-color: #fff; box-shadow: 0px 0px 1px 1px #888 inset; border-color: #444; }
.boxtitleartifact { background-color: #fff; box-shadow: 0px 0px 1px 1px #888 inset; border-color: #444; }

.textboxwhite { background-color: #fff; box-shadow: 0px 0px 1px 1px #444 inset; border-color: #444; }
.textboxblue { background-color: #fff; box-shadow: 0px 0px 1px 1px #444 inset; border-color: #444; }
.textboxblack { background-color: #fff; box-shadow: 0px 0px 1px 1px #444 inset; border-color: #444; }
.textboxred { background-color: #fff; box-shadow: 0px 0px 1px 1px #444 inset; border-color: #444; }
.textboxgreen { background-color: #fff; box-shadow: 0px 0px 1px 1px #444 inset; border-color: #444; }
.textboxgold { background-color: #fff; box-shadow: 0px 0px 1px 1px #444 inset; border-color: #444; }
.textboxartifact { background-color: #fff; box-shadow: 0px 0px 1px 1px #444 inset; border-color: #444; }